.footer{
  color:$yellowText;
  background-color: $yellow;
  font-size: 14px;
  padding: 24px 0;
}
.menu-menu2-container{
  width: 100%;
}
.footer-menu{
  width: 80%;
  margin: 0 auto;
  li{
    padding-bottom: 14px;
  }
}
.footer-logo{
  display: block;
  margin: 0 auto;
}