.contact-title{
  font-size:20px;
  font-weight:500;
  margin: 32px auto 24px auto;
}
.line-btn{
  img{
    display: block;
    margin: 24px auto 32px auto;
  }
}
.footer{
  color:$yellowText;
  background-color: $yellow;
  font-size: 14px;
  padding: 24px 0;
}
.menu-menu2-container{
  width: 100%;
}
.footer-menu{
  width: 80%;
  margin: 0 auto;
  li{
    padding-bottom: 14px;
    a:hover{
      cursor:pointer;
    }
  }
}
.footer-logo{
  display: block;
  margin: 0 auto;
}