.page-title{
  font-size: 22px;
  font-weight: 500;
  height:80px;
  line-height: 80px;
}
.single-title{
  font-size: 22px;
  font-weight: 500;
  width: 90%;
  margin: 32px auto 0 auto;
  color:$whiteText;
  @include media(pc){
    margin: 32px 0 0 0;
  }
}
.single-info{
  width: 90%;
  margin: 0 auto 16px auto;
  display: flex;
  @include media(pc){
    width: 100%;
  }
}
.single-date{
  font-size: 12px;
  margin-right: 8px;
  color:$darkGlay;
}
.single-category{
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  color:$whiteText;
  background: $lightGlay;
  padding:0 4px;
}
.main{
  width: 90%;
  margin: 0 auto;
  color:$whiteText;
  h1{
    font-size: 18px;
    font-weight: 500;
    margin: 32px 0;
  }
  p{
    font-size: 14px;
    @include media(pc){
      font-size: 16px;
    }
  }
  a{
    text-decoration: underline;
    color:#135e96;
    &:hover{
      cursor: pointer;
    }
  }
}
.singular-main{
  @include media(pc){
    margin:0;
  }
}
.wp-block-image{
  margin-top: 16px;
}
.wp-block-quote{
  border:1px solid $orange;
  border-radius: 10px;
  padding: 8px;
  background: $yellow;
  color:$yellowText;
  margin: 16px;
}
.singular-pagination{
  width: 90%;
  margin: 24px auto;
  overflow: hidden;
  @include media(pc){
    margin: 24px 0 0 0 ;
  }
}
.prev-post,.next-post{
  display: flex;
  img{
    width: 100px;
  }
  h4{
    font-size: 12px;
    color:$whiteText;
    line-height: 56.17px;
    padding: 0px 8px;
  }
}
.next-post{
  float: right;
}