$yellow:#fff7d5;
$white:#ffffff;
$darkGlay:#9f9f9f;
$lightGlay:#dee0e0;
$orange:#f8b500;
$green:#06c755;
$linkTitle:#262626;
$yellowText:#403c2b;
$whiteText:#707070;

$pc:684px;

@mixin media($media-width){
  @if $media-width == pc {
    @media screen and (min-width:$pc){
      @content;
    }
  }
}

@import "destyle";
@import "footer";
@import "header";
@import "frontpage";
@import "page";

body{
  line-height: 1.5;
}
input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder {
	color: transparent;
}
input:focus::-ms-input-placeholder {
	color: transparent;
}
input:focus::placeholder {
	color: transparent;
}
.screen-reader-text{
  display: none;
}
.text-center{
  text-align: center;
}
.rectangle-border{
  border-radius: 4px;
}
.back-white{
  background-color: $white;
  color:$whiteText;
}
.back-yellow{
  background: $yellow;
  color:$yellowText;
}
.entry-card{
  width: 90%;
  height: 100px;
  margin: 16px auto;
  box-shadow: 0 0.5px 5px 0 rgba(0,0,0, 0.2);
  display: flex;
  padding: 8px;
}
.entry-card-title{
  color:$whiteText;
}
.entry-img{
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}
.entry-card-text{
  position: relative;
  margin-left: 8px;
  flex-grow: 1;
}
.entry-card-date{
  font-size: 12px;
  color:$darkGlay;
  position: absolute;
  bottom: 0;
  right: 0;
}
.sidebar{
  width: 90%;
  margin: 0 auto;
  li{
    padding-left: 8px;
    margin: 8px 0;
    color:$whiteText;
  }
}
.widget-title{
  background: $yellow;
  color:$yellowText;
  font-size: 15px;
  text-align: center;
  height: 48px;
  line-height: 48px;
}
.searchform {
  position: relative;
}
.searchfield {
  font-size: 14px;
  width: 100%;
  margin: 24px auto;
  padding: 10px;
  border: solid 1px #bbb;
  border-radius: 20px;
}
.searchsubmit {
  font-family: FontAwesome;
  font-size: 1.4em;
  position: absolute;
  top: 18px;
  right: 6%;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
  color: $lightGlay;
}
.searchsubmit:hover {
  opacity: .6;
}
.mt24{
  margin-top: 24px;
}
.mt32{
  margin-top: 32px;
}
.archive-pagination{
  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }
}
// a.page-numbers:nth-child(n+2):nth-last-child(n+2){
//   border: 1px solid #bbb;
// }
.page-numbers{
  display: block;
  width: 24px;
  text-align: center;
}
.current{
  background:#bbb;
  color:$white;
}

.breadcrumb{
  display: flex;
  color:$whiteText;
  font-size: 12px;
  width: 90%;
  margin: 8px auto;
  li{
    padding-right: 4px;
  }
}

@include media(pc){
  .container{
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  .contents{
    flex:2;
  }
  .widget{
    flex:1;
  }
}